// =============================================================== //
//                        FORMS CSS STYLES                         //
// =============================================================== //

.btn,
label,
input,
textarea,
select {
    display: block;
    outline: none;
}

// ------------------------------------------- //
// FORM GENERAL
// ------------------------------------------- //

.form {
    label {
        @include rem-size(13);
    }
}
.form_row {
    + .form_row {
        margin-top: 10px;
    }
}