// =============================================================== //
//                         MAIN CSS STYLE                          //
// =============================================================== //

html,
body {
    background: #FFF;
    font-family: "Arial", "Verdana", sans-serif;
    font-size: 100%;
    color: #000;
}

// ------------------------------------------- //
// MOUSSE SELECTION
// ------------------------------------------- //

@include selection(#C23E00, #FFF, true);

// ------------------------------------------- //
// WYSIWYG MAIN CSS
// ------------------------------------------- //

@import "editor";

// ------------------------------------------- //
// LAYOUT - GENERAL
// ------------------------------------------- //

.l-col {
    width: 100%;
    float: none;
    @include breakpoint($medium) {
        float: left;
    }
}

// ------------------------------------------- //
// STYLE GENERIQUE
// ------------------------------------------- //

#header,
#wrapper,
#footer {
    position: relative;
    z-index: 5;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    @if $oldie {
        width: 960px;
    }
}

// ------------------------------------------- //
// HEADER
// ------------------------------------------- //

#header {
}

// ------------------------------------------- //
// WRAPPER
// ------------------------------------------- //

#wrapper {
}

// ------------------------------------------- //
// FOOTER
// ------------------------------------------- //

#footer {
}