// =============================================================== //
//                         MAIN CSS STYLE                          //
// =============================================================== //

html,
body {
    background: #E6E6E6;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 100%;
    color: #333;
}

// ------------------------------------------- //
// LAYOUT - GENERAL
// ------------------------------------------- //

.l-col {
    width: 100%;
    float: none;
    @include breakpoint($medium) {
        float: left;
    }
}

// ------------------------------------------- //
// STYLE GENERIQUE
// ------------------------------------------- //

#header,
#wrapper,
#footer {
    position: relative;
    z-index: 5;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    @if $oldie {
        width: 960px;
    }
}
.main-content {
    background: #FFF;
}

// ------------------------------------------- //
// HEADER
// ------------------------------------------- //

#header {
}

// ------------------------------------------- //
// WRAPPER
// ------------------------------------------- //

#wrapper {
}

// ------------------------------------------- //
// FOOTER
// ------------------------------------------- //

#footer {
}

// ------------------------------------------- //
// MODULES - GENERAL
// ------------------------------------------- //

.module {
}