// ============================================================================================= //
//                                             FORMS                                             //
// ============================================================================================= //

label,
input,
textarea,
select {
    display: block;
    outline: none;
}

// ------------------------------------------------------------------------- //
// GLOBAL
// ------------------------------------------------------------------------- //

.form {
}

// ------------------------------------------------------------------------- //
// ROW
// ------------------------------------------------------------------------- //

.form__row {
    + .form__row {
        margin-top: 10px;
    }
}

// ------------------------------------------------------------------------- //
// LABEL
// ------------------------------------------------------------------------- //

.label {
    font-size: rem(12);
    margin-bottom: 5px;
}

// ------------------------------------------------------------------------- //
// INPUT
// ------------------------------------------------------------------------- //

.input {
}

// ------------------------------------------------------------------------- //
// TEXTAREA
// ------------------------------------------------------------------------- //

.textarea {
}

// ------------------------------------------------------------------------- //
// SELECT
// ------------------------------------------------------------------------- //

.select {
}

// ------------------------------------------------------------------------- //
// CHECKBOX
// ------------------------------------------------------------------------- //

.checkbox {
}

// ------------------------------------------------------------------------- //
// RADIO
// ------------------------------------------------------------------------- //

.radio {
}

// ------------------------------------------------------------------------- //
// ERROR
// ------------------------------------------------------------------------- //

.has-error {
    position: relative;
}

.help-block {
    display: none;
    font-size: rem(11);
    color: $c-error;
    margin-top: 5px;

    .has-error & {
        display: block;
    }
}
