// ============================================================================================= //
//                                   BOILERPLATE DEFAULT STYLE                                   //
// ============================================================================================= //

.page-inte {
    h2 {
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        color: #000;
        margin: 10px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    strong {
        color: #C23E00;
    }

    p {
        font-size: 11px;
    }

    ul,
    li {
        font-size: 11px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        overflow: hidden;

        &:before {
            display: none;
        }

        &:nth-child(odd) {
            background: #EEE;
        }

        a {
            display: block;
            height: 40px;
            line-height: 42px;
            font-size: 12px;
            color: #000;
            text-decoration: none;
            padding: 0 15px;

            &:hover {
                text-decoration: none;
            }
        }

        .note {
            margin: 0 15px 15px 15px;
        }
    }

    .note {
        background: #FBFBFB;
        color: #777;
        padding: 10px 15px;
        border-top: dashed 1px #CCC;
        border-bottom: dashed 1px #CCC;

        p,
        ul {
            margin-top: 10px;
            margin-bottom: 0;

            &:first-child {
                margin-top: 0;
            }
        }

        ul > li {
            background-color: transparent;
            line-height: normal;
            list-style-type: disc;
            margin: 0 0 0 15px;
            overflow: visible;

            &:before {
                display: none;
            }

            + li {
                margin-top: 3px;
            }
        }
    }
}
