.alignleft,
.left {
  float: left;
}

.alignright,
.right {
  float: right;
}

.aligncenter,
.center {
  margin: 0 auto;
}

p,
.clearfix {
  *zoom: 1;
}
p:before, p:after,
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
p:after,
.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

blockquote p,
.clearfix-reset {
  *zoom: normal;
}
blockquote p:before, blockquote p:after,
.clearfix-reset:before,
.clearfix-reset:after {
  content: "";
  display: inline;
}
blockquote p:after,
.clearfix-reset:after {
  clear: none;
}

.clear-reset {
  clear: none;
}

.hidden-mobile,
.hidden {
  display: none;
}

.hidden-mobile {
  display: block;
}

.hidden-tablet {
  display: none;
}

.hidden-desktop {
  display: none;
}

p,
li,
table {
  font-size: 12px;
  text-align: justify;
}

p {
  margin: 0 0 15px 0;
}

ul,
ol {
  margin: 0 0 15px 0;
  padding: 0;
}

li {
  margin-left: 40px;
}
li > ul, li > ol {
  margin-bottom: 0;
}

img {
  display: block;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px 0;
}
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

blockquote {
  quotes: "\201C" "\201D";
  margin: 20px 40px;
  *margin: 8px 20px;
  *padding: 15px;
  *border: dashed 1px #333333;
}
blockquote p {
  margin-bottom: 0;
  position: relative;
}

blockquote p:before,
blockquote p:after {
  font-size: 60px;
  position: absolute;
}

blockquote p:before {
  content: open-quote;
  left: -30px;
  top: -15px;
}

blockquote p:after {
  content: close-quote;
  margin: -8px 0 0 10px;
}

table {
  width: 100%;
  text-align: left;
}
table th, table td {
  padding: 10px;
  border: solid 1px #EBEBEB;
}

.alignleft {
  margin-right: 10px;
}

.alignright {
  margin-left: 10px;
}

.wp-caption .wp-caption-text {
  font-size: 12px;
  margin: 0 10px 0 0;
  padding: 5px;
  border: dashed 1px #333333;
  border-top: none;
}
.wp-caption.alignleft {
  margin-right: 0;
}
