.left, .alignleft {
  float: left; }

.right, .alignright {
  float: right; }

.center, .aligncenter {
  margin: 0 auto; }

.clearfix {
  *zoom: 1; }
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hidden {
  display: none;
  visibility: hidden; }

p,
li,
table {
  font-size: 0.75rem; }

p {
  line-height: 1.5;
  margin: 15px 0 0 0; }
  p:first-child {
    margin-top: 0; }

img {
  display: block; }

ul,
ol {
  margin: 15px 0 0 0;
  padding: 0; }
  ul:first-child,
  ol:first-child {
    margin-top: 0; }

li {
  line-height: 1.5;
  margin-left: 15px; }
  li > ul,
  li > ol {
    margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px 0; }
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 1.625rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

blockquote {
  quotes: "\201C" "\201D";
  margin: 20px 40px;
  *border: dashed 1px #333;
  *margin: 8px 20px;
  *padding: 15px; }
  blockquote p {
    margin-bottom: 0;
    position: relative; }
    blockquote p:before,
    blockquote p:after {
      font-size: 3.75rem;
      position: absolute; }
    blockquote p:before {
      content: open-quote;
      left: -30px;
      top: -23px; }
    blockquote p:after {
      content: close-quote;
      margin: -17px 0 0 10px; }

table {
  width: 100%; }
  table th,
  table td {
    border: solid 1px #ECECEC;
    padding: 10px; }
  table tr:nth-child(even) {
    background: #F9F9F9; }
  table tr:nth-child(odd) {
    background: #FFF; }

.alignleft {
  margin-right: 10px; }

.alignright {
  margin-left: 10px; }

.wp-caption .wp-caption-text {
  font-size: 0.75rem;
  border: dashed 1px #333;
  border-top: none;
  margin: 0 10px 0 0;
  padding: 5px; }

.wp-caption.alignleft {
  margin-right: 0; }
