// ============================================================================================= //
//                                          TYPOGRAPHY                                           //
// ============================================================================================= //

// ------------------------------------------------------------------------- //
// GLOBAL
// ------------------------------------------------------------------------- //

p,
li,
table {
    font-size: rem(12);
}

// ------------------------------------------------------------------------- //
// PARAGRAPH
// ------------------------------------------------------------------------- //

p {
    line-height: 1.5;
    margin: 15px 0 0 0;
    &:first-child {
        margin-top: 0;
    }
}

// ------------------------------------------------------------------------- //
// BOLD
// ------------------------------------------------------------------------- //

b,
strong {
}

// ------------------------------------------------------------------------- //
// ITALIC
// ------------------------------------------------------------------------- //

em {
}

// ------------------------------------------------------------------------- //
// IMAGES
// ------------------------------------------------------------------------- //

img {
    display: block;
}

// ------------------------------------------------------------------------- //
// LINKS
// ------------------------------------------------------------------------- //

a {
}

// ------------------------------------------------------------------------- //
// LISTS
// ------------------------------------------------------------------------- //

ul,
ol {
    margin: 15px 0 0 0;
    padding: 0;
    &:first-child {
        margin-top: 0;
    }
}

li {
    line-height: 1.5;
    margin-left: 15px;
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

// ------------------------------------------------------------------------- //
// TITLES
// ------------------------------------------------------------------------- //

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-weight: normal;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 10px 0;
    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: rem(26);
}

h2 {
    font-size: rem(24);
}

h3 {
    font-size: rem(22);
}

h4 {
    font-size: rem(20);
}

h5 {
    font-size: rem(18);
}

h6 {
    font-size: rem(16);
}

// ------------------------------------------------------------------------- //
// BLOCKQUOTE
// ------------------------------------------------------------------------- //

blockquote {
    quotes: "\201C" "\201D";
    margin: 20px 40px;
    p {
        margin-bottom: 0;
        position: relative;
        &:before,
        &:after {
            font-size: rem(60);
            position: absolute;
        }
        &:before {
            content: open-quote;
            left: -30px;
            top: -23px;
        }
        &:after {
            content: close-quote;
            margin: -17px 0 0 10px;
        }
    }
    @if $oldie {
        *border: dashed 1px #333;
        *margin: 8px 20px;
        *padding: 15px;
    }
}

// ------------------------------------------------------------------------- //
// TABLE
// ------------------------------------------------------------------------- //

table {
    width: 100%;
    tr {
        &:nth-child(even) {
            background: #F9F9F9;
        }
        &:nth-child(odd) {
            background: #FFF;
        }
    }
    th,
    td {
        border: solid 1px #ECECEC;
        padding: 10px;
    }
}

// ------------------------------------------------------------------------- //
// IMAGES ALIGN
// ------------------------------------------------------------------------- //

.alignleft {
    margin-right: 10px;
    @extend .left;
}

.alignright {
    margin-left: 10px;
    @extend .right;
}

.aligncenter {
    max-width: 100%;
    height: auto;
    @extend .center;
}