// ============================================================================================= //
//                                             FORMS                                             //
// ============================================================================================= //

label,
input,
textarea,
select {
    display: block;
    outline: none;
}

// ------------------------------------------------------------------------- //
// GLOBAL
// ------------------------------------------------------------------------- //

.form {
}

// ------------------------------------------------------------------------- //
// LABEL
// ------------------------------------------------------------------------- //

.form_label {
    font-size: rem(12);
    margin-bottom: 5px;
}

// ------------------------------------------------------------------------- //
// ERROR
// ------------------------------------------------------------------------- //

.has-error {
    position: relative;
}

.help-block {
    display: none;
    font-size: rem(11);
    color: $c-error;
    margin-top: 5px;
    .has-error & {
        display: block;
    }
}