// ============================================================================================= //
//                                             MAIN                                              //
// ============================================================================================= //

html,
body {
    background: #FFF;
    font-family: "Arial", "Verdana", sans-serif;
    font-size: 100%;
    color: #000;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// ------------------------------------------------------------------------- //
// MOUSSE SELECTION
// ------------------------------------------------------------------------- //

@include selection(#C23E00, #FFF);

// ------------------------------------------------------------------------- //
// WYSIWYG MAIN CSS
// ------------------------------------------------------------------------- //

@import "_editor";

// ------------------------------------------------------------------------- //
// GLOBAL SECTIONS
// ------------------------------------------------------------------------- //

#header,
#wrapper,
#footer {
    position: relative;
    z-index: 5;
}

// ------------------------------------------------------------------------- //
// HEADER
// ------------------------------------------------------------------------- //

#header {
}

// ------------------------------------------------------------------------- //
// WRAPPER
// ------------------------------------------------------------------------- //

#wrapper {
}

// ------------------------------------------------------------------------- //
// FOOTER
// ------------------------------------------------------------------------- //

#footer {
}
